<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://unpkg.com/vue@3'></script>
  <link rel="stylesheet" href="assets/style.css">

  <title>Vue Hello</title>
</head>

<body>

  <div class="container">
    <div id="app">
      <input type="text" placeholder="inserisci il tuo nome" v-model="nome">
      <input type="text" placeholder="inserisci il tuo cognome" v-model="cognome">
      <p>Ciao <span v-bind:class="myClass"><strong>{{nome}} {{cognome}}</strong></span> <br>
      inserisci la tua immagine preferita</p>
      <button @click="myClass = 'red'">cambia colore</button>

      <input type="text" v-model="imgName"> 
      <button @click="changeImg('Chainsaw.webp')">Cambia immagine</button><br>
      <img :src="path + imgName" alt="">
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>